<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>${project.parent.organization.name}</author>
	<description>${project.parent.description}</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	<require_modules>
		<require_module version="${uiframeworkVersion}">
			org.openmrs.module.uiframework
		</require_module>
		<require_module version="${emrapiVersion}">
			org.openmrs.module.emrapi
    </require_module>
    <require_module version="${appuiVersion}">
			org.openmrs.module.appui
    </require_module>
	</require_modules>

	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.VisitDocumentsActivator</activator>
	
	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->


	<!-- Global Properties -->
  <globalProperty>
    <property>visitdocumentsui.conceptComplexUuid</property>
    <defaultValue>7cac8397-53cd-4f00-a6fe-028e8d743f8e</defaultValue>
    <description>
        UUID of the (question) concept complex representing a patient image
    </description>
  </globalProperty>

  <globalProperty>
    <property>visitdocumentsui.encounterTypeUuid</property>
    <defaultValue>5021b1a1-e7f6-44b4-ba02-da2f2bcf8718</defaultValue>
    <description>
        UUID of the encounter type used to upload visit documents
    </description>
  </globalProperty>

  <globalProperty>
    <property>visitdocumentsui.maxUploadFileSize</property>
    <defaultValue>5.0</defaultValue>
    <description>
        Maximum size (in Megabytes) allowed for a visit document file upload 
    </description>
  </globalProperty>

  <globalProperty>
    <property>visitdocumentsui.maxStorageFileSize</property>
    <defaultValue>1.2</defaultValue>
    <description>
        Maximum size (in Megabytes) allowed for the storage of a visit document file
    </description>
  </globalProperty>

  <!-- Privileges -->
	<privilege>
		<name>App: visitdocumentsui.visitdocuments.page</name>
		<description>Allowed to access the Visit Documents page</description>
	</privilege>

</module>