<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>${project.parent.organization.name}</author>
	<description>${project.parent.description}</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	<require_modules>
		<require_module version="${uiframeworkVersion}">
			org.openmrs.module.uiframework
		</require_module>
	</require_modules>

	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.PatientImagesActivator</activator>
	
	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>

        PatientImages.hbm.xml
				
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->


  <globalProperty>
    <property>patientimages.conceptComplexUuid</property>
    <defaultValue>7cac8397-53cd-4f00-a6fe-028e8d743f8e</defaultValue>
    <description>
        UUID of the (question) concept complex representing a patient image
    </description>
  </globalProperty>

</module>